.cabecalho {
    display: flex;
    background-image: url(./img/estadio_img1.png);
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;
    padding: 0 10rem 0 0;
    background-size: 100%;
    background-position-y: 100%;
}

.imagem__cabecalho {
    width: 5rem;
}

.titulo__cabecalho {
    color: rgb(197, 200, 16);
    text-transform: uppercase;
}

.principal {
    padding: 1rem;
    background-color: black;
}

.principal__video {
    border: solid 1px white;
    /* max-width: 450px; */
    align-items: center;
}

.principal__titulo, .principal__texto {
    text-align: center;
    padding-top: 1rem;
    color: white;
}

.principal__botao {
    border-radius: 100px;
    border: solid 2px white;
    padding: 1rem 3rem;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;

}

.principal__link {
    color: white; 
    text-decoration: none;   
}

.informativo {
    /* max-width: 500px; */
}

.informativo__img {
    width: 100%;     
}

.informativo__titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;    
}

.depoimento {
    background-color: black;
    /* background-image: url(./img/Campo-futebol-2.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 90%;
}

.depoimento__texto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    color: white;
}

.depoimento__item {
    padding: 1rem 0;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 1rem 0;
}

.rodape__contato {
    font-size: 1rem;
    color: white;
}

.principal__botao2 {
    width: 90%;
    margin-left: 3.5rem;
    border: solid 2px black;
}

.principal__botao3 {
    width: 90%;
    margin-left: 3.5rem;
    margin-top: 2rem;
}


@media screen and (min-width: 732px) {
    .principal {
        display: flex;
        justify-content: space-around;        
        gap: 2rem;
    }

    .informativo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 2rem 0;
    }

    .informativo__caixa {
        width: 100%;
    }

    .depoimento {
        display: flex;
        justify-content: space-around;
    }

    .depoimento__lista {
        margin-left: 3rem;
    }

    .depoimento__carrossel {
        margin-bottom: 2rem;
        width: 40rem;
        margin-right: 5rem;
    }
    
    .depoimento__carrossel2 {
        height: 60rem;
        width: 40rem;    
    }

    .depoimento__carrossel {
        margin-bottom: 2rem;
        width: 40rem;
    }  

    .principal__botao3 {
        width: 70%;
    }

}

